{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="static/css/index.css">
{% endblock %}

{% block content %}
<img id="top" src="/static/images/landing.png">
    <div id="top-overlay">
        <span id="top-title">BEST CAR RENTAL IN DALLAS</span>
    </div>
    <div id="login-container">
        <h2>Login</h2>
        <input type="text" placeholder="Login">
        <input type="text" placeholder="Password">
        <button id="login-button">Log in</button>
    </div>
</img>
<div id="content">

</div>

{% endblock %}
